.space {
    height: 8%;
}

.w-title {
    text-align: center;
}

#navigator {
    margin-bottom: 15px;
}

button {
    margin-right: 10px;
}

#title {
    background-color: beige;
    margin-bottom: 10px;
    font-size: larger;
}

.show-line {
    margin-bottom: 5px;
}

img + span {
    margin-left: 3px;
}

.box {
    margin-right: 10px !important;
}

.nav-sep, .folder-name, div[ui-tree-handle], #uploadops>span {
    cursor: pointer !important;
}

.nav-sep:hover, .folder-name:hover, #uploadops>span:hover {
    color: deepskyblue;
}

.nav-no-click {
    pointer-events: none;
}

.node-selected {
    background-color: aliceblue;
}

#upQueue, #upqTitle {
    margin-bottom: 10px;
}

#upProgress {
    padding: 0;
    margin-bottom: 5px;
}

#progressBar {
    background-color: #cacaca;
}