#regBtn {
    margin-right: 20px;
}

#username, #password{
    padding-left: 0;
}

.space {
    height: 10%;
}

.w-title {
    text-align: center;
}

.err {
    color: red;
}

#loginBtn {
    margin-left: 40px;
}